@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

:root {
	--grad-warm: linear-gradient(to right,#e052a0,#f15c41);
	--grad-cold: linear-gradient(to right,#3ec7e0,#526bf4);
	--base-color: #111111;
	--text-color: #fff;
}

/**Light mode**/

body.light {
	--base-color: #fff;
	--text-color: #111111;
	--grad-warm: linear-gradient(to right,#3ec7e0,#526bf4);
	--grad-cold: linear-gradient(to right,#e052a0,#f15c41);
}

*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Source Sans Pro';
	font-weight: 100;
	font-size: 15px;
	line-height: 1.7;
	color: var(--text-color);
	background-color: var(--base-color);
}

h1 {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 7px;
	font-size: 50px;
	color: #fff;
}

p {
	margin: 10px;
	padding-left: 130px;
	padding-top: 150px;
	}
	
/**Scroll button**/

#scroll_btn {
	background-color: #2596be;
	color: white;
	text-align: center;
	font-size: 30px;
	text-decoration: none;
	overflow: hidden;
	display: none;
	cursor: pointer;
	position: fixed;
	bottom: 10px;
	right: 10px;
	padding: 10px;
    border: 0;
	background-image: var(--grad-warm);
	border-radius: 3px;
}

#scroll_btn:hover {
    background-image: var(--grad-cold);
}

/**Menu**/

details {
	position: fixed;
	margin-left: 5px;
}

summary {
	border-radius: 3px;
	cursor: pointer;
	font-size: 35px;
	padding-bottom: 10px;
}

summary::after {
	content: "click me";
}

summary::marker {
	font-size: 0;
}

details[open] summary::before {
	content: "close me";
}

details[open] summary::after {
	content: "";
}

.menu {
	width: fit-content;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 312px;
}

.menu a {
	padding: 12px 27px;
	background-image: var(--grad-warm);
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	border-radius: 3px;
	font-size: 15px;
}

.menu a:hover {
	background-image: var(--grad-cold);
}

/**Color mode switch**/

.switch {
	position: fixed;
	right: 20px;
	top: 30px;
}

.fa-moon-o {
	color: #fff;
}

.fa-sun-o {
	color: #fff;
}

.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	width: 43px;
	height: 20px;
	background-image: var(--grad-warm);
	display: flex;
	border-radius: 50px;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	transform: scale(1.5);
	cursor: pointer;
}

.ball {
	width: 20px;
	height: 20px;
	background-color: #fff;
	position: absolute;
	top: 5px;
	left: 5px;
	border-radius: 50%;
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}

/**Header**/

main{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-image: url(https://images.unsplash.com/photo-1560260240-c6ef90a163a4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1931&q=80);
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}

section{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; 
}









