#scroll_btn {
	background-color: #2596be;
	color: white;
	text-align: center;
	font-size: 30px;
	text-decoration: none;
	overflow: hidden;
	display: none;
	cursor: pointer;
	position: fixed;
	bottom: 10px;
	right: 10px;
	padding: 10px;
    border: 0;
	background-image: linear-gradient(to right,#e052a0,#f15c41);
	border-radius: 3px;
	opacity: 0.9;
}

#scroll_btn:hover {
    background-image: linear-gradient(to right,#3ec7e0,#526bf4);
}
                			   